@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Playfair+Display+SC:wght@400;700;900&display=swap');

* {
  font-family: 'Playfair Display SC';
}
.open {
  font-family: 'Open Sans', sans-serif;
  color: #505253;
}
.swiper-slide {
  border-radius: 24px;
}
.swiper-slide-visible {
}
.swiper-slide-fully-visible {
}
.swiper-slide-active {
  transform: translate3d(0px, 0px, 0px) rotateZ(-10deg) scale(1);
}

.mySwiper {
}

.nav-next {
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-prev {
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
